/* Start of header css */

.topappbar {
  background-color: #add8e6; /* color of navbar */
  color: black;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -2;
  border-bottom: 3px solid #8cba80;
}

.topappbar::after { /* this provides the gray line after the header */
  content: '';
  display: block;
  position: absolute;
  bottom: 851px; /* Offset from bottom border */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: gray;
}

.topappbar .title {
  flex-grow: 1; /* title takes available space */
  text-align: left; /* Align title to the left */
  font-size: 20px;
}

.topappbar .icon {
  cursor: pointer;
  font-size: 24px;
}

.topappbar .navigation {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.topappbar button {
  background: white;
  border: 1px solid black;
  color: black;
  padding: 5px 10px; /* Padding for buttons */
  cursor: pointer;
}

.topappbar button:hover {
  background-color: #6996b9; /* Darker shade on hover */
  color: black; /* Text color on hover */
}

.button-52 {

  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 0px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

.button-52:after {
  content: "";
  background-color: #CACF85;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
} 
/* 
<!-- HTML !-->
<button class="button-89" role="button">Button 89</button>

/* CSS */
/* .button-89 {
  --b: 3px; 
  --s: 0.45em;  */
/* --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
=======
}  */

/* End of header css  */