/* start of main page css */
.main-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .main-page-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .main-page-header h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  .main-page-header p {
    font-size: 1.2em;
    color: #666;
  }
  
  .main-page-featured-products {
    margin: 20px 0;
  }
  
  .main-page-featured-products h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
  }
  
  .main-page-product-listings {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Responsive grid */
    gap: 20px;
  }
  